:root {
  --color-principal: #0c2039;
}
img {
  display: block;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.total-compra {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* total a pagar */
.card {
  background: transparent;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
}
.card-content.pagar h5 {
  color: white;
  font-size: 20px;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: black;
  border-radius: 8px;
}
.card-content.pagar p {
  font-size: 15px;
  text-align: start;
  padding: 10px 0;
}
.card-content.pagar a {
  font-size: 15px;
  background: #0c2039;
}
.cont-resumen {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.cont-resumen p .calcular-envio {
  background: transparent;
}
