:root {
  --color-principal: #1a69a6;
}

.detallecompleto {
  margin-top: 20px;
}
.cont-img {
  padding: 0%;
  box-sizing: border-box;
}
.cont-img img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.cont-detail {
  padding-left: 10px;
}
.cont-detail h1 {
  font-size: 3rem;
  padding: 0%;
  margin: 0%;
}
.cont-detail .precio {
  color: var(--color-principal);
  font-size: 3rem;
  padding: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cantidad {
  margin-top: 0%;
}
.cant {
  display: flex;
  flex-direction: row;
}
.cant p {
  background-color: var(--color-principal);
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 4px;
  color: white;
}
.cant .btn-detail {
  width: 25px;
  height: 25px;
  color: var(--color-principal);
  background-color: transparent;
  margin-top: 5px;
  margin-left: 10px;
  border: 1px solid var(--color-principal);
}
.cant .btn-detail:hover {
  background-color: var(--color-principal);
  color: white;
}
.btn-comprar {
  width: 180px;
  color: white;
  border: 2px solid var(--color-principal);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.browser-default {
  width: 40%;
  border: 1px solid var(--color-principal);
  margin-bottom: 10px;
}
.productos-relacionados {
  padding: 0%;
  margin: 0%;
  text-align: center;
  margin-bottom: 10px;
}
.productos-relacionados h2 {
  padding: 0%;
  margin: 0%;
  font-size: 3rem;
}
