:root {
  --color-principal: #1a69a6;
}
.text-ubicacion {
  text-align: center;
}
iframe {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.maps {
  padding-left: auto;
  padding-right: auto;
}
.input-field .prefix.active {
  color: var(--color-principal);
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--color-principal);
  -webkit-box-shadow: 0 1px 0 0 var(--color-principal);
  box-shadow: 0 1px 0 0 var(--color-principal);
}
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label {
  color: var(--color-principal);
}
.btn {
  background: var(--color-principal);
}
.btn:hover {
  background: #002b4a;
}
