:root {
  --color-principal: #0c2039;
}
.login {
  margin-top: 10%;
  margin-bottom: 10%;
}
.tabs .tab a {
  color: black;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  color: var(--color-principal);
}
.tabs .indicator {
  background-color: var(--color-principal);
}
.input-field .prefix.active {
  color: var(--color-principal);
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--color-principal);
  -webkit-box-shadow: 0 1px 0 0 var(--color-principal);
  box-shadow: 0 1px 0 0 var(--color-principal);
}
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label {
  color: var(--color-principal);
}
[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 3px solid var(--color-principal);
  border-bottom: 3px solid var(--color-principal);
}
